<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
    <link rel="stylesheet" href="restaurant.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer">

    <!-- Vue.js from CDN -->
    <script src="https://unpkg.com/vue@next"></script>

    <!-- Axios from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    





    <!-- Your CSS and external dependencies here -->
    <style>
        /* Add a CSS class to change the color of the heart button container to red */
        .heart-button {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1;
            cursor: pointer; /* Add a pointer cursor to indicate it's clickable */
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white; /* Start with a red background */
        }

        /* Add a CSS class to change the heart button container to white when clicked */
        .heart-button.clicked {
            background-color: red;
        }

        /* Style for the black heart icon */
        .heart-button i {
            color: black;
        }
    </style>
</head>

<body>
    <!-- Your HTML content here, including the navigation bar -->

    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="navigationBar">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="../static/images/icon.PNG" class="mr-2" id="Logo" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto nav">
                <li class="nav-item active mx-4">
                    <a class="nav-link active" href="" >Home</a>
                </li>
                <li class="nav-item active mx-4">
                    <a class="nav-link active" href="/restaurants_filter/rest_filter.html" >Restaurant Filter</a>
                </li>
                <li class="nav-item active mx-4">
                    <a class="nav-link active" href="/ecobites/map/final/mapPointer2.html" >Restaurant Nearby</a>
                </li>
                <li class="nav-item active mx-4">
                    <a class="nav-link" href="/ecobites/templates/contact.html">Contact Us</a>
                </li>
            </ul>
        </div>
        <div>
            <a href="../favourite,button.html" class="bi bi-heart" style="font-size: 20px;"></a>
            <a href="#" class="bi bi-box-arrow-right" style="font-size: 20px;"></a>
        </div>
    </nav>

    <div class="main-content">
        <div class="d-flex justify-content-start ms-5" id="more-info">
            <div>
                Filter
            </div>
            <p class="ms-5"> Found results in secs </p>
            <div class= "text-secondary ms-5">
                <button type="button" class="refresh-button">
                    <i class="fas fa-rotate-right"></i>
                </button>
                Clear filters
            </div>
        </div>

        <div class ="col-md-8">
            <div class="contant px-3">
                <div id="card-container" class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-5">
                    <!-- Cards will be displayed here -->
                </div>
            </div>
        </div>

    <div id="display_rest">
        <div class ="main-content">
            <!-- Your content here -->
             
                   


                        <div id="card-container" class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-5">
                            <div v-for="restaurant in likedRestaurants" :key="restaurant._id.$oid" class="col">
                                <div class="card">
                                    <img :src="restaurant.Image" class="card-img-top" alt="restaurant" @click="redirectToDetails(restaurant)">
                                 
                                    <!-- Add the heart button container and icon -->
                                    <div class="heart-button" @click="toggleFavorite(restaurant)" :class="{ clicked: restaurant.fav_restaurant }">
                                        <i class="fas fa-heart"></i>
                                    </div>




<!-- 
                                    <div v-if="reviewIs5(restaurant.ratings)"></div>
                                    {{ stars_5 }}
                                    </div> -->


                        <div class="card-body">
                            <h4 class="card-title">{{ restaurant.Name }}</h4>
                            <div class="cuisine text-muted">{{ restaurant.Location }}</div>
                            <h5 class="price-cat fw-bold">{{ restaurant.Price }}</h5>
                            <div class="d-flex reviews-stars">
                                <div v-for="star in restaurant.stars" :key="star" class="fas fa-star"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        Vue.createApp({
            data() {
                return {
                    likedRestaurants: []
                    

                }
            },
            created() {
                // Your existing data retrieval code
                axios.get('http://127.0.0.1:5000/api/restaurants')
                    .then(response => {
                        this.likedRestaurants = response.data.filter(restaurant => restaurant.fav_restaurant === true);

                        //change it to false when u unclick
                    })
                    .catch(error => {
                        console.error('Error fetching data:', error);

                    });
            },
            methods: {
              toggleFavorite(restaurant) {
             
                    restaurant.fav_restaurant = !restaurant.fav_restaurant;
                    
                    rest_id = restaurant["_id"]["$oid"]
                    axios.post('http://localhost:5000/api/restaurant/' + rest_id, {
            'fav_restaurant': false
        }).then(
            response => {
                console.log(response.data)
            }
        ).catch(
            error => {
                console.log(error)
            })

        //         }
        //     }
                },
                redirectToDetails(restaurant) {
                //    location.href = '../restaurant_cards/card_details.html';

                   rest_id = restaurant["_id"]["$oid"]
                  location.href = `../restaurant_cards/card_details_v2.html?id=${rest_id}`;

                }
            }
        //             rest_id = restaurant["_id"]["$oid"]
        //             axios.post('http://localhost:5000/api/restaurant/' + rest_id, {
        //     'fav__restaurants': false
        // }).then(
        //     response => {
        //         console.log(response.data)
        //     }
        // ).catch(
        //     error => {
        //         console.log(error)
        //     })

        //         }
        //     }
        }).mount("#display_rest");
    </script>
</body>
</html>



