@import "main.scss";

body{
font-family:'Poppins', sans-serif;
margin-left:auto;
margin-right:auto;
max-width:100%;
font-size: 2vw;

}

img{
  max-width:100%;
}

hr{
  border: black solid 1px;
  opacity: 30%;
}





#nav_bar{
    background-color: #75996d;
    padding-top: 1.5vw;
    padding-bottom:1vw;
    width:100%;
    margin-left:0;
    margin-right:0;
    box-sizing: border-box;
    position:fixed;
    z-index:2;
    padding-left:3vw;
    
}



.nav-link{
    color:white;
    font-weight: lighter;
    text-shadow: 1px 1px 4px rgb(60, 60, 60);
    margin-top: 2vw;
    margin-bottom: auto;
    text-decoration: underline;
    
}





#ecobite{
    color:black;
    text-shadow: 2px 2px 1px rgb(94, 94, 94);
    font-weight: bold;
    font-size: 3vw;
    top:1.5vw;
    margin-top:1.5%;
    position:absolute;
    vertical-align: middle;



}


#btn{
    background-color: #FF7020;
    color:white;
    font-weight:bolder;
    font-size: 1.5vw;
    float:right;
    margin-top: 1vw;
    box-shadow: 2px 2px 4px rgb(60, 60, 60);  
    justify-content: center;
    padding-left:2.5vw;
    padding-right:2.5vw;
    padding-top:1vw;
    padding-bottom:1vw;
  
}




.image-container {
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    width:100%;
  }
  
  .image-container img {
    display: block;
    width: 100%;
    height: 100%;
    z-index:0;
    object-fit: cover;
    padding-left:5%;
    padding-right:5%;
   
  }
  
  .overlay-box {
      position: absolute;  
      background-color: rgb(194, 230, 186,.8);
      color: #fff; 
      font-size: 3vw;
      text-align: left;
      font-weight: lighter;
      z-index:1;
      margin-top: -22%;
      margin-left: 10%;
      text-shadow: 2px 2px 4px rgb(60, 60, 60);
      text-wrap:nowrap;
      padding:3%;
  }

  

ul{
  display: flex;
}

.title{
  font-weight:bold;
  font-size: 2.5vw;
  padding-bottom: 5%;
  max-width:100%;
  margin-bottom:1vw; 
  padding-top:10vw

  

}

.text1{
  margin-left:40px;
  text-wrap:balance;
  line-height: 1.5;
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  margin-top: 3%;
  margin-right: 3%;
  text-align: center;
  padding-right:10%;
  line-height:2;
}


.greenback{
  background-color: #C2E6BA;
  width:100%;
  margin-bottom: 10vw;


}

.greenblock{
  background-color: #75996d;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  position:absolute
}

.white_title{
  font-size:2.5vw;
  color: white;
  font-weight:bolder;
  text-wrap:balance;
  line-height: 1.5;
  text-align: center;
  padding-top:20px


}

.card_text{
  color:white;
  text-wrap: pretty;
  line-height: 1.5;
  text-align: center;
  font-style: italic;
  padding-top: 3vw;
  padding-left: 3vw;
  padding-right: 3vw;
  vertical-align: top;
  
}

.card{
  border-radius: 15px;
  border:none;
  margin-right: 3vw;
  margin-left: 3vw;
  height: min-content;
  width: 50rem; 
  background-color: #75996d;
  max-width:300px;
  

}

.icon{
  justify-self: center;
  margin-top:10vw;
  max-width: 30%;
  max-height:30%;
	
}

.lasticon{
  justify-self: center;
  width: 15vw;
  height: 15vw;


}

/* (A) SPEECH BOX */
.speech {
  /* (A1) FONT */
   font-size: 2vw;
 
  /* (A2) COLORS */
  color: black;
  background: #F6F8F9;
 
  /* (A3) DIMENSIONS + POSITION */
  position: relative;
  padding: 3vw;
  padding-right:5vw;
  border-radius: 10px;
  margin-left:10vw;
  margin-right:10vw;
  max-width: 1000px;
  border-radius: 15px;
  text-wrap: pretty;
}

  /* (B) ADD SPEECH "CALLOUT TAIL" */
  /* (B1) USE ::AFTER TO CREATE THE "TAIL" */
  .speech::after {
    /* (B1-1) ATTACH TRANSPARENT BORDERS */
    content: "";
    border: 5vw solid transparent;
   
    /* (B1-2) NECESSARY TO POSITION THE "TAIL" */
    position: absolute;
  }
   
  /* (B2) BOTTOM "CALLOUT TAIL" */
  .bottom.speech::after {
    /* (B2-1) DOWN TRIANGLE */
    border-top-color: #E6BADB;
    border-bottom: 0;
   
    /* (B2-2) POSITION AT BOTTOM */
    bottom: -5vw; left: 3%;
    margin-left: 1%;
  
  }

  .trans_box{
    padding:5vw;
    text-align: center;
    text-wrap: pretty;
    line-height: 1.5;
    margin-left:10%;
    margin-right:10%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    
  }

  .underline{
    text-decoration: underline;
  }

  .meatvsveg{
  text-wrap: pretty;
  line-height: 1.75;
  text-align: center;
  padding-left: 2vw;
  padding-right: 2vw;
  display: block;
  font-size: 1.5vw;
  margin-bottom:0



  }

  .text2{
  /* font-size: 2.5vw; */
  margin-left: 20%;
  text-wrap:pretty;
  line-height: 1.5;
  position: relative;
  vertical-align: middle;
  text-align: center;

  }

  .bold{
  font-size: 2.5vw;
  margin-left: 3vw;
  text-wrap:pretty;
  line-height: 1.5;
  position: relative;
  vertical-align: text-top;
  text-align: center;
  margin-right: 30px;
  font-weight: 800;
  }

  .btn-secondary{
    background-color: #FF7020;
    border-color:#FF7020;
    width: 50vw;
    font-size: 3vw;
    font-weight: bolder;
    padding-top: 0;
    max-width:100%;
    border-radius: 8px;
 
  }

  .links{
    color: black;
    font-size: 1.5vw;
    text-decoration: none;
    text-wrap:pretty;
  }

  .last_title{
    text-wrap:pretty;
    font-size: 1.25vw;
    line-height:2;
    margin-bottom:6vw;
    font-weight:bold;
    text-decoration: underline;
    overflow: visible;
    text-wrap: nowrap;

  }

  #adjbox{
    /* font-size:2vw; */
    margin-left:0;
    margin-right:0;
    padding:2vw;
    margin-bottom:0;
    margin-top: auto;
    margin-bottom: auto;

  }

  .iconadj1{
    margin-left: 10vw; 
    display: inline-block;
    max-width:15%;

  }

  .iconadj2{
    margin-left: 8vw; ;
    display:inline-block;
    max-width:20%;
    margin-top:2.5vw
  }

  #adjtext{
    line-height: 1;
    margin-left:auto;
    margin-bottom:5vw;

  }

  #improve{
    margin-left:20px; margin-right:0px;
  }

  .chainpic{
    width:20vw;
  }

  #earth{
    height:6vw;
    margin-left:15%;
    width:6vw;
    max-width:none;
  }

  #chatbubble{
    font-size: 2vw; 
    line-height: 2;
    font-weight:bold;
    padding-bottom: 5%;
    max-width:100%;
    margin-bottom:1vw; 
  
    
  }

  h5{
    font-size: 1vw;
  }

  #twocard{
    width:80vw;
    justify-content: center;
    margin-top:5vw;
  }

  #center{
    margin-left:0;
    margin-right:0;
  }

  #moveleft{
    margin-left:0;
    margin-top:5vw
  }
  
  .listminwidth{
    min-width:5vw;
    /* font-size: 3vw; */

  }

  .spacing{
    margin-top: 10vw;
  }

  .carousel{
    width: 90%;
    height: auto;
    
  }

  .carousel_text{
    text-shadow: 2px 2px 4px rgb(41, 41, 41);  
    text-wrap:pretty;



  }

  .carousel_title{
    text-transform: capitalize;
    font-weight:bolder;
    text-shadow: 2px 2px 4px rgb(60, 60, 60);  
    font-size:larger


  }

  .bottom_section_spacing{
    margin-left:5%;

  }

  .tbspace{
    margin-top:5vw;
    margin-bottom:5vw;
    
  }


  .arrow-button {
    display: inline-block;
    background-color: #1a792e; /* Change the background color as needed */
    color: #fff; /* Change the text color as needed */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left:5%;
    font-size:1.5vw;
    width:30%;
    text-wrap:pretty;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

  .arrow-button::after {
      content: ">"; /* Unicode character for a right arrow */
      margin-right: 5px
  }


  .arrow-button .text {
    flex: 1;
}

.btn-light{
  color:black;
  background-color:#f7f7f7;
}


.col-edit{
  margin-left:3vw;
  margin-right:3vw
}

.first{
  list-style-image: url('images/healthy-heart.png');
  margin-left: 30px;
  }
  
  
.second{
  list-style-image: url('images/preference.png');
  margin-left: 30px;
  }

  
.third{
  list-style-image: url('images/hand.png');
  margin-left: 30px;
  }

  
.fourth{
  list-style-image: url('images/empty_heart.png');
  margin-left: 30px;
  }

li{
  padding-left:3vw;
  vertical-align: middle;
}
  



  
  
  

  