@import "main.scss";

body{
font-family:'Poppins', sans-serif;
margin-left:auto;
margin-right:auto;
max-width:100%;

}

img{
    max-width:100%;
}





#nav_bar{
    background-color: #75996d;
    padding-top: 2%;
    padding-bottom:2%;
    width:100%;
    margin-left:0;
    margin-right:0;
    box-sizing: border-box;
    position:fixed;
    z-index:2;
    padding-left:3%
    
}



.nav-link{
    color:white;
    font-weight: lighter;
    text-shadow: 1px 1px 4px rgb(60, 60, 60);
    font-size: 3vw;
    margin-top: 1vw;
    margin-bottom: auto;
    text-decoration: underline;
    
}





#ecobite{
    color:black;
    text-shadow: 2px 2px 1px rgb(94, 94, 94);
    font-weight: bold;
    font-size: 4vw;
    top:1vw;
    margin-top:1.5%;
    position:absolute;
    vertical-align: middle;



}


#btn{
    background-color: #FF7020;
    color:white;
    font-weight:bolder;
    font-size: 3vw;
    float:right;
    margin-top: 10%;
    box-shadow: 2px 2px 4px rgb(60, 60, 60);  
    justify-content: center;
    padding-left:4vw;
    padding-right:4vw;
}




.image-container {
    justify-content: center;
    padding-bottom: 15%;
    margin-left:auto;
    margin-right:auto;
    width:100%;
  }
  
  .image-container img {
    display: block;
    width: 100%;
    height: 100%;
    z-index:0;
    object-fit: cover;
    padding-left:5%;
    padding-right:5%;
   
  }
  
  .overlay-box {
      position: absolute;  
      background-color: rgb(194, 230, 186,.8);
      color: #fff; 
      font-size: 5vw;
      text-align: left;
      font-weight: lighter;
      z-index:1;
      margin-top: -22%;
      margin-left: 10%;
      text-shadow: 2px 2px 4px rgb(60, 60, 60);
      text-wrap:nowrap;
      padding:3%;
  }

  

ul{
  display: flex;
}

.title{
  font-weight:bold;
  font-style: italic;
  font-size: 5vw;
  padding-bottom: 5%;
  max-width:100%;

  

}

.text1{
  font-size: 3vw;
  margin-left:40px;
  text-wrap:balance;
  line-height: 1.5;
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  margin-top: 3%;
  margin-right: 3%;
  text-align: center;
  padding-right:5%;
}

.red{
  font-size: 5vw;
  color: red;
  font-weight: 800;
}

.greenback{
  background-color: #C2E6BA;
  margin-bottom: 70px;
  width:100%;


}

.greenblock{
  background-color: #75996d;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  position:absolute
}

.white_title{
  color: white;
  font-weight:bolder;
  text-wrap:balance;
  line-height: 1.5;
  text-align: center;
  padding-top:20px


}

.card_text{
  color:white;
  text-wrap: pretty;
  line-height: 1.5;
  text-align: center;
  font-style: italic;
  padding-top: 3vw;
  padding-left: 3vw;
  padding-right: 3vw;
  vertical-align: top;
  
}

.card{
  border-radius: 15px;
  border:none;
  margin-right: 3vw;
  margin-left: 3vw;
  height: min-content;
  width: 50rem; 
  background-color: #75996d;
  max-width:300px;
  

}

.icon{
  justify-self: center;
  margin-top:5vw;
  margin-bottom:0;
  max-width: 50%;
  max-height:50%;
}

.lasticon{
  justify-self: center;
  width: 15vw;
  height: 15vw;


}

/* (A) SPEECH BOX */
.speech {
  /* (A1) FONT */
   font-size: 36px;
 
  /* (A2) COLORS */
  color: black;
  background: #F6F8F9;
 
  /* (A3) DIMENSIONS + POSITION */
  position: relative;
  padding: 3vw;
  padding-right:5vw;
  border-radius: 10px;
  margin-left:10vw;
  margin-right:10vw;
  max-width: 1000px;
  border-radius: 15px;
  text-wrap: pretty;
}

  /* (B) ADD SPEECH "CALLOUT TAIL" */
  /* (B1) USE ::AFTER TO CREATE THE "TAIL" */
  .speech::after {
    /* (B1-1) ATTACH TRANSPARENT BORDERS */
    content: "";
    border: 5vw solid transparent;
   
    /* (B1-2) NECESSARY TO POSITION THE "TAIL" */
    position: absolute;
  }
   
  /* (B2) BOTTOM "CALLOUT TAIL" */
  .bottom.speech::after {
    /* (B2-1) DOWN TRIANGLE */
    border-top-color: #E6BADB;
    border-bottom: 0;
   
    /* (B2-2) POSITION AT BOTTOM */
    bottom: -5vw; left: 3%;
    margin-left: 1%;
  
  }

  .trans_box{
    padding:5vw;
    text-align: center;
    text-wrap: pretty;
    font-size: 3vw;
    line-height: 1.5;
    margin-left:10%;
    margin-right:10%;
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom:90px;
    border-radius: 15px;
    
  }

  .underline{
    text-decoration: underline;
  }

  .meatvsveg{
  text-wrap: pretty;
  line-height: 1.5;
  text-align: center;
  padding-top: 20px;
  padding-left:20px;
  padding-right:20px;
  font-size: 1.5rem;
  display: block;


  }

  .text2{
  font-size: 2.5vw;
  margin-left: 20%;
  text-wrap:pretty;
  line-height: 1.5;
  position: relative;
  vertical-align: middle;
  text-align: center;

  }

  .bold{
  font-size: 4vw;
  margin-left: 3vw;
  text-wrap:pretty;
  line-height: 1.5;
  position: relative;
  vertical-align: text-top;
  text-align: center;
  margin-right: 30px;
  font-weight: 800;
  }

  .btn-primary{
    background-color: #E6BADB;
    border-color: #E6BADB;
    width: 80vw;
    height: 8vw;
    font-size: 5vw;
    font-weight: bolder;
    padding-top: 0;
    padding-bottom: 2vw;
    max-width:100%;
 
  }

  .links{
    text-align: left;
    color:white;
    font-size: 2vw;
    line-height:2;
  }

  .last_title{
    text-align: left;
    color:white;
    font-size: 2.5vw;
    line-height:2;
    margin-bottom:6vw;
  }

  #adjbox{
    font-size:2.5vw;
    margin-left:0;
    margin-right:0;
    padding:2vw;
    margin-bottom:0;

  }

  .iconadj1{
    margin-left: 10%; 
    display: inline-block;
    max-width:20%;

  }

  .iconadj2{
    margin-left: 9%; ;
    display:inline-block;
    max-width:25%;
  }

  #adjtext{
    font-size: 4.5vw;
    line-height: 1.5;
    position: relative;
    vertical-align: middle;
    text-align: center;
    margin-top: 3vw;

  }

  #improve{
    margin-left:20px; margin-right:0px;
  }

  .chainpic{
    width:20vw;
  }

  #earth{
    height:6.5vw;
    margin-left:15%;
    width:6.5vw;
    max-width:none;
  }

  #chatbubble{
    font-size: 2.5vw; 
    line-height: 2;
  }

  h5{
    font-size: 1.5vw;
  }

  #twocard{
    width:80vw;
    justify-content: center;
  }

  #center{
    margin-left:0;
    margin-right:0;
  }

  #moveleft{
    margin-left:0;
  }
  
  .listminwidth{
    min-width:5vw;
    font-size: 3.5vw;

  }

  /* display adjusted for phones  */
  /* CSS styles for screens with a width of 768px or less */
  /* Adjust margins or padding as needed */

  /* @media (max-width: 390px) { */
    
    /* #nav_bar{
      background-color: #75996d;
      padding-top: 20px;
      padding-bottom:20px;
      width:auto;
      max-width:670px;
      min-width:670px;
      margin-left:0;
      margin-right:0;
      box-sizing: border-box;
      position:fixed;
      z-index:2;
      
  }

  .nav-link{
    font-size: 1.5rem;
    margin-top: 30px;
    margin-left:-30px;
    
}

    .overlay-box {
      position: absolute;  
      background-color: rgb(194, 230, 186,.8);
      color: #fff; 
      font-size: 2rem;
      text-align: left;
      font-weight: lighter;
      z-index:1;
      margin-top: -22%;
      margin-left: 10%;
      text-shadow: 2px 2px 4px rgb(60, 60, 60);
      text-wrap:nowrap;
     
    }

    .image-container img {
        display: block;
        width:670px;
        height: 100%;
        z-index:0;
        padding:0;
     
       
    }

    .about{
      margin-left:0
    }

    #ecobite{
    color:black;
    text-shadow: 2px 2px 1px rgb(94, 94, 94);
    font-weight: bold;
    font-size: 280%;
    top:1vw;
    position:relative;
    padding-left:5%;

}
    
    .iconspace{
      margin-top: 50px;
    }

    .vegcard{
      max-height:20rem;
    }

    .adjtitle1{
      min-width:600px;
      margin-left:-270px;
      text-align: center;
    }

  

    .listminwidth{
      min-width:400px;
      margin-left:-200px
  
    }

    .adjtitle3{
      margin-left:-80px;
      min-width:200px;
    }

    .adjbtn{
      margin-left:-230px;
      max-width:500px;
    }
   

    .adjback{
      padding-right: 100%;
      min-width:650px


    }

    .adjbox{
      margin-left:20px;

    }

    .iconadj1{
      max-height:130px;
      max-width:130px;
      margin-left: 100px;
    }

    .iconadj2{
      margin-left:90px;
      display:inline-block;
      max-height:130px;
      max-width:150px;
      margin-right:0;
    }

    .text1adj{
      margin-left:-30px;
    }

    .text1{
      margin-right:0
    }

    img{
      max-width:600px;
      margin-left:auto;
      margin-right:auto;
    }

    .img100{
      width:100%;
      min-width:670px;
      padding-top:90px;
    }

    #btn{
      font-size: 20px;
      float:right;
      margin-top: 15%;
      margin-right:5%;
      margin-left:5%;
      padding-right:2px;
      padding-left:2px;


    }

    #earth{
      margin: 2%;
    }

    #ecobite{
      margin-left:-3%;
      margin-right:1%;
      margin-top:3%;
    }

    .text2{
      max-width: 300px;
      text-align: left;
      
    }

    

    #adjtext{
      text-align: left;  
      margin-left: -200px;
      min-width:500px;

    }

    #improve{
      margin-left:100px;
      text-align: center;
    }

    #chainpic{
      width:760px; 
      margin-left:30px;
    }


  
  } */
